<header id="header" >
    <div class="container">
        <h1>Julien Bouze</h1>
        <h2>Je suis <span>testeur fonctionnel</span>, passionné par le <span>développement front-end</span>.</h2>
        <nav id="navbar" class="navbar mb-3 px-5" ng-controller="navController">
            <ul>
                <li><a class="nav-link" href="" ng-click="goToPage('/home')">Accueil</a></li>
                <li><a class="nav-link" href="" ng-click="goToPage('/about')">À propos</a></li>
                <li><a class="nav-link" href="" ng-click="goToPage('/resume')">Mon CV</a></li>
                <li><a class="nav-link" href="" ng-click="goToPage('/portfolio')">Portfolio</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <div class="social-links">
            <a href="https://www.linkedin.com/in/julien-bouze/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="https://github.com/julienbouze/" class="github"><i class="bi bi-github"></i></a>
        </div>
    </div>
</header><!-- End Header -->